@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    border: none;
}

#wrap{
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

#title{
	position: absolute;
    transform: rotate(-30deg);
    top: 60px;
    color: #2e4a57;
}

#register_button{
	position: absolute;
    top: 50px;
    right: 50px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    background-color: #1ea1eb;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#todo_container{
	position: absolute;
    width: 85%;
    height: 50%;
    top: 150px;
    right: 50px;
}


#todo_list_header{
	width: 100%;
	height: 60px;
}
#todo_list_header > article{
	width: 32.3%;
    float: left;
    height: 60px;
    line-height: 60px;
    background: #2e4a57;
    color: #ffffff;
    margin-left: 10px;
    box-sizing: border-box;
    text-indent: 20px;
    font-size: 23px;
    font-weight: bold;
}
#todo_list_header > article:after{
	display:block;
	content:none;
	clear:both;
}
#todo_list_header:after{
	display:block;
	content:none;
	clear:both;
}


#todo_list_body{
    position: relative;
	width: 100%;
	/* height: 1000px; */
	height: 100%;
}
.todo_item_container{
    position: relative;
	width: 32.3%;
	float : left;
	height : 100%;
	margin-left : 10px;
    box-sizing : border-box;
}
.todo_item_container > article{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #c6e1ee;
	box-sizing : border-box;
	margin-top: 10px;    
}
.todo_item_container > article > .todo_item_header{
	box-sizing : border-box;
	padding: 15px 0 0 15px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -1px;
}
.todo_item_container > article >.todo_item_contents{
	box-sizing : border-box;
	padding: 5px 0 0 15px;
	font-size: 13px;
	color: #2e4a57;
	font-weight: bold;
}
.todo_item_container > article > .update_button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #999999;
    cursor: pointer;
}
.todo_item_container > article > .hidden_button{
	display: none;
}
